*.gem
.bundle
.sass-cache
.jekyll-cache
_site
Gemfile.lock
unused
bootstrap-reference.html
.jekyll-metadata
.DS_store
.ruby-version
.tweet-cache
assets/libs/
node_modules/
vendor
.idea
.venv
oldWebsite